<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta property="og:title" content="<%= current_page.data.title || 'my blog ✌️' %>"/>

    <title><%= current_page.data.title || "tklon.com" %></title>
    
    <%= stylesheet_link_tag :all %>
    <%= partial "partials/analytics" %>
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>
  </body>
</html>
