<% wrap_layout :default do %>
	<%= partial "partials/banner" %>
	<article>
		<header>
			<h1><%= current_page.title %></h1>
			<p>
				<time datetime="<%= current_page.date.strftime("%F") %>"><%= current_page.date.strftime("%b %d %Y") %></time> - <%= partial("partials/tags", :locals => { :current_page => current_page })%>
			</p>
		</header>
		<%= yield %>
	</article>
	<p class="center">( ✎ <%= link_to 'Edit this file', "https://github.com/teeeg/tklon.com/edit/master/src/#{current_page.file_descriptor[:full_path].sub(root + "/", "")}" %> )</p>
<% end %>
